* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Century Gothic, Arial, sans-serif;
}


header {
    background-color: #383838;
}
#top {
    background: linear-gradient(
        rgba(0,0,0,0.2), 
        rgba(0,0,0,0.3) 20%,
        rgba(26, 26, 26, 0.4),
        rgb(19, 19, 19)) , 
        url(images/girl.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100svh;
}
.navbar {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    transition: 0.3s ease-in-out;
}
.logo a:hover {
    color: #ff9239;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links > li {
    padding: 1.4rem 0;
    list-style: none;
    position: relative;
    transition: 0.3s ease;
}

.nav-links > li:hover {
    background-color: #4e4e4e;
}

.nav-links a {
    padding: 1.4rem 20px;
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
}

.nav-links > li:hover > a {
    color: #ff9239;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #383838;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu li {
    transition: 0.3s ease-in-out;
}

.dropdown-menu li a {
    display: block;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover > a {
    color: #ff9239;
}

.dropdown-menu li:hover {
    background-color: #4e4e4e;
}

.dropdown-menu li:hover a {
    color: #ff9239;
}

.hamburger {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100;
}

.hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
.dropdown-toggle {
    display: none;
}
@media screen and (min-width: 1201px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}
@media screen and (max-width: 1200px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 1.4rem;
        position: relative;
        border-bottom: 1px solid #949494;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #444444;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
    }

    .nav-links.nav-active {
        display: flex;
    }

    .nav-links > li {
        padding: 0;
        position: relative;
    }
    .nav-links > li > a {
        display: block;
        padding: 1.4rem 1rem;
    }

    .dropdown-menu {
        position: static;
        width: 100%;
        background-color: #5e5e5e;
        display: none;
    }
    

    .dropdown.active .dropdown-menu {
        display: block;
    }
    .dropdown-menu li {
        padding: 0;
    }
    .dropdown-menu li:hover .dropdown-menu {
        display: none;
    }

    .dropdown-menu li a {
        padding: 1.4rem 2rem;
        display: block;
    }
    .dropdown-toggle {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        right: 1rem;
        top: 1.4rem;
        transition: transform 0.3s ease-in-out;
    }

    .dropdown.active .dropdown-toggle {
        transform: rotate(180deg);
    }   
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}